@font-face {
	font-family: Aller;
	src: url("./assets/fonts/Aller_Rg.woff");
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

html {
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
	font-feature-settings: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Aller;
}

html._fixed,
body._fixed {
	touch-action: none;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
	overscroll-behavior: none;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
	overscroll-behavior-y: none;
	line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dd,
hr,
figure,
pre {
	line-height: 1.4;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ol,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

img,
video {
	max-width: 100%;
	height: auto;
}

img {
	object-fit: cover;
}

a {
	outline: none;
	font-family: inherit;
	text-decoration: none;
	color: inherit;
}

button,
input,
optgroup,
select,
textarea {
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
	appearance: button;
	background-color: transparent;
	background-image: none;
}

[role="button"],
button {
	cursor: pointer;
}

button {
	outline: none;
	font: inherit;
	color: inherit;
	border: none;
	font-size: 16px;
	text-transform: none;
}
